@mixin button-style($bg) {
  padding: 10px 16px;
  background-color: $bg;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  display: inline-block;
  transition: 0.3s;

  &:hover {
    opacity: 0.8;
  }
}